@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>More information: </strong> <a href="www.google.com.br">Educandoweb.com.br</a>
</address>
